.jumbotron {
    background: url(../pictures/matterhorn.jpg) center center no-repeat;
}

.title {
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 6px;
    width: auto;
}

#logo {
    float: right;
    width: 300px;
}

@media screen and (max-width: 700px) {
    #logo {
        display:none;
    }
}
