<!DOCTYPE html>
<html lang="en" ng-app="eventlist">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hackergarten</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <img id="logo" src="pictures/hackergarten_b_and_w_small.png" alt="hackergarten" class="hidden-xs" />
        <div class="title">
            <h1>Hackergarten</h1>
            <p>A Computer Programming Contributor Group</p>
        </div>
    </div>
</div>

<div class="container" ng-controller="eventlistController">

    <div class="row">
        <div class="col-md-6">
            <!-- next events -->
            <div class="panel panel-default">
                <div class="panel-heading">Next Events</div>
                <div class="panel-body">
                    <ul>
                        <li>Hack #48 - 24th November 2014 - Lucerne, CSS Versicherung AG -
                            <a href="https://groups.google.com/forum/#!topic/hackergarten/tS2nb01El_Q">GoogleGroups</a>,
                            <a href="http://www.meetup.com/Hackergarten-Luzern/events/218595845/">Meetup</a>
                        </li>
                        
					    <li ng-repeat="event in eventlist">
					      Hack #[{{eventlist.length - $index}}] {{event.title}} on {{event.date}} in {{event.location}}.
					      <ul ng-if="event.links.length > 0">
					  		  <li ng-repeat="link in event.links"><a href="{{link.url}}">{{link.title}}</a></li>
					      </ul>
					    </li>
                        
                        
                        <li>more coming up ...look at the <em>Join</em> section on the right...</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">About</div>
                <div class="panel-body">
                    Hackergarten is a craftmen's workshop, classroom, a laboratory, a social circle, a writing group, a playground, and an artist's studio. Our goal is to create something that others can use; whether it be working software, improved documentation, or better educational materials. Our intent is to end each meeting with a patch or similar contribution submitted to an open and public project. Membership is open to anyone willing to contribution their time.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <!-- past events -->
            <div class="panel panel-default">
                <div class="panel-heading">Past Events</div>
                <div class="panel-body">
                    <ul>
                        <li>Hack #47 - 30th october 2014 - Basel, Canoo Office -
                            <a href="https://groups.google.com/forum/#!topic/hackergarten/b4VqwExj5-c">GoogleGroups</a>,
                            <a href="http://www.meetup.com/Hackergarten-Basel/events/211695852/">Meetup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Join</div>
                <div class="panel-body">
                    <ul>
                        <li><a href="http://groups.google.com/group/hackergarten/">Official Google Group Mailing List</a></li>
                        <li><a href="http://hackergarten.wikispaces.com/">Wikispaces</a>
                        <li><a href="http://github.com/hackergarten">Public Git Repository</a><br>
                        <li><a href="http://www.twitter.com/Hackergarten">@Hackergarten on Twitter</a></li>
                        <li><a href="https://www.facebook.com/pages/Hackergarten/155381234519676">Facebook Fanpage</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%23hackergarten" data-widget-id="428946456414666752">Tweets about &quot;#hackergarten&quot;</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%40hackergarten" data-widget-id="428953538593439744">Tweets about "@hackergarten"</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Sponsors</div>
                <div class="panel-body">
                    <a href="http://www.canoo.com"><img src="pictures/canoo.png" alt="canoo"></a>
                    <p><a href="http://www.canoo.com">Canoo Engineering AG</a> offers experienced consulting, tailored services, cutting-edge products and one-stop solutions for Rich Internet Applications, guiding you from design phase to final integration and installation. </p>
                    <p>They have been incredibly generous to offer us meeting space, Internet access, a pizza budget, and (for many of us) a place to work.</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">License / Rights</div>
                <div class="panel-body">
                    As we were asked many times about the license / copyright of "Hackergarten", we decided to put it unter a creative commons license:
                    <br />
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Hackergarten</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.hackergarten.net" property="cc:attributionName" rel="cc:attributionURL">http://www.hackergarten.net</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.hackergarten.net" rel="cc:morePermissions">http://www.hackergarten.net</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>Copyright &copy; Hackergarten</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="scripts/eventlist.js"></script>

</body>
</html>

